<ion-view title="Create Event">
    <ion-content class="has-header">
        <form name="eventCreateForm" ng-submit="eventCreator.create()" novalidate>
            <ion-list>
                <label class="item item-input" name="email">
                    <input 
                        ng-model="eventCreator.data.title" 
                        name="title" 
                        type="text"
                        placeholder="Title">
                </label>
                <label class="item item-input" name="password">
                    <textarea
                        row="10"
                        ng-model="eventCreator.data.details"
                        placeholder="Details....">
                    </textarea>
                </label>
            </ion-list>
    
            <ion-list ng-show="loginForm.$submitted || loginForm.email.$touched">
                <label 
                    ng-show="loginForm.email.$error.email">
                    Insert a valid Email address
                </label>
                <label 
                    ng-show="loginForm.email.$error.required">
                    Please insert an email address
                </label>
            </ion-list>

            <div class="spacer" style="height: 20px;"></div>

            <div class="padding">
                <button 
                    class="button button-positive button-block">
                    Save
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>