<ion-view title="Create Event">
    <ion-content class="has-header">
        <form 
            name="eventCreateForm" 
            ng-submit="eventCreator.create()" 
            flow-init="eventCreator.flowUploadConfig" 
            flow-name="eventCreator.data.pictures"
            novalidate>
            
            <div ng-show="eventCreator.submitted || eventCreateForm.$touched">
                <ion-list type="list-inset">
                    <label 
                        class="item assertive"
                        ng-show="eventCreateForm.title.$error.required">
                        Please insert an title address
                    </label>
                </ion-list>
                
                <div class="spacer padding-vertical">
                    
                </div>
            </div>

            <ion-list>
                <label class="item item-input" name="title">
                    <input 
                        ng-model="eventCreator.data.title" 
                        name="title" 
                        type="text"
                        placeholder="Title"
                        required>
                </label>

                <label class="item item-input" name="content">
                    <textarea
                        row="10"
                        ng-model="eventCreator.data.content"
                        placeholder="Details....">
                    </textarea>
                </label>

                <label for="date" class="item item-input">
                    <input type="text" placeholder="Select Date" ng-focus="eventCreator.showDatePicker()"/>
                </label>
            </ion-list>

            <div class="spacer" style="height: 10px;"></div>
            <div class="padding">
                <button 
                    type="button" 
                    flow-btn 
                    class="button button-block button-royal">
                    <i class="icon ion-images"></i>
                    Add Pictures
                </button>
            </div>

            <ion-list 
                type="card" 
                class="uploaded-pictures" 
                ng-if="eventCreator.data.pictures.files.length">
                <div class="card"
                    ng-repeat="file in eventCreator.data.pictures.files">
                    <img flow-img="file" class="image">
                    <div class="item item-divider">
                        {{ file.name }}
                    </div>
                </div>
            </ion-list>

            <div class="spacer" style="height: 10px;"></div>

            <div class="padding">
                <button class="button button-positive button-block">
                    Save
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>